@using Hospitality.Common.DTO.Identity
@model Credentials

<head>
    <link rel="stylesheet" href="~/css/SignIn.css" asp-append-version="true" />

</head>

<body>

    <div id="signInForm">
          <form asp-action="SignIn" asp-antiforgery="false">
           
               
                    <h2>Sign In</h2><br>
                    <div>                    
                        <p>
                            <label id="emailLabel" for="">Email</label><br>
                            @Html.TextBoxFor(x => x.email, new { style="width:100%;" })

                        </p>
                        <p>
                            <label id="passwordLabel" for="">Password</label><br>
                            @Html.PasswordFor(x => x.password, new { style="width:100%;"})
                        </p>
                     </div><br>
                     <p class="buttons">

                        <button id="sendButton" type="submit" class="btn btn-primary" data-toggle="modal">  Log in  </button>
                        <button id="resetButton" class="btn btn-primary" type="reset">  Reset  </button> 

                     </p>
           
            </form>
    </div>

   @if (ViewBag.Show == "show") {
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel"></h5>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        <h5>Wrong login or password</h5>
                    </div>
                <div class="modal-footer" id="modalForm">                    
                </div>
                </div>
            </div>
        </div>
    }

</body>


@section Scripts {
    @if (ViewBag.Show == "show")
    {
        <script>
        $(function(){
            $("#exampleModal").modal("show");
        });
        </script>
    }
}
