
#signInForm {
    background-color: #d4ebf3;
    margin-top: 10%;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 4%;
}

#emailLabel, #passwordLabel, #emailInput, #phoneInput, #sendButton, #resetButton {
    font-size: 18px;
}

#emailInput, #phoneInput {
    width: 100%;
}

#resetButton{
    margin-left:5%;
}
#sendButton, #resetButton{
    width: 47%;
}
