#startVisitForm {
    background-color: #d4ebf3;
    margin-top: 15%;
    margin-bottom: 4%;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 4%;
    padding-bottom: 2%;
}

label, input, #startButton, #sendButton {
    font-size: 18px;
    width: 100%;
}
